<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<div role="alert" th:if="${param.error}">
		   The email or password is incorrect!
		</div>
		<form th:action="@{/login}" method="post" >
          <h1>Login</h1>
		  	<label for="inputEmail">Email</label>
		    <input type="email" id="email" name="email" placeholder="Email" required autofocus>
		    <label for="inputPassword">Password</label>
		    <input type="password" id="password" name="password" placeholder="Password" required>
       </div>
		    <button type="submit">Sign in</button>
		    <div> Don't have an account? <a th:href="@{/register}">Create an account</a></div>
		</form>
	</body>
</html>